<nav class="navbar navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Rails 6 Todo UI API
  </a>
</nav>
